{% extends 'base.html.twig' %}

{% block title %}Espace Membre{% endblock %}

{% block body %}

<section>
    <h2>formulaire de creation d'annonces</h2>

    {{ include('annonce/_form.html.twig') }}

</section>

{% endblock %}
