{% extends 'base.html.twig' %}

{% block title %}PAGE CONTACT{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section>
    <h2>MA SECTION POUR MA PAGE CONTACT</h2>
    <h3>affichage de la variable info1: {{ info1 }}</h3>
    {{ include('contact/_form.html.twig') }}
    <h4>{{ messageConfirmation }}</h4>
    <img src="{{ asset('assets/img/article3.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

