{% extends 'base.html.twig' %}

{% block title %}PAGE GALERIE{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section class="container">
    <h2>Galerie</h2>
    <h3>session: {{ info1 }}</h3>
    <img class="img-fluid" src="{{ asset('assets/img/article2.jpg') }}" alt="article2">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

