{% extends 'base.html.twig' %}

{% block title %}PAGE ACCUEIL{% endblock %}


{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}

<section class="container">
    <h2>Bienvenue</h2>
    <img class="img-fluid" src="{{ asset('assets/img/article1.jpg') }}" alt="article1">
</section>

{% endblock %}

{% block javascripts %}

<script></script>

{% endblock %}

