h1 {
    color:orange;
}

header {
    background-color: #cccccc;
}

footer {
    background-color: #aaaaaa;
}

main {
    background-color: #dddddd;

}
section article {
    background-color: #eeeeee;
}