h1 {
    color:orange;
}

header {
    background-color: #cccccc;
}

footer {
    background-color: #aaaaaa;
}

main {
    background-color: #dddddd;

}
section article {
    background-color: #eeeeee;
}

/* image des annonces */
article img.img-fluid {
    object-fit: cover;
    height: 200px;
    width:100%;
}